<h1>Edit existing article</h1>

<% if @question.errors.any? %>

<h2>The following errors prevented the article from getting created</h2>

<ul>
<% @question.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>

</ul>
<% end %>
<%= form_for @question do |q| %>
<p>
<%= q.label :question %><br/>
<%= q.text_area :question %>
</p>

<p>
<%= q.label :name %><br/>
<%= q.text_field :name %>
</p>

<p>
<%= q.check_box :stay_anonymous %> <%= q.label "Stay anonymous?" %> <br />
</p>

<p>
<%= q.submit %>
</p>

<% end %>

