<div class="container">
  <h1>Questions</h1>
  <p>
    <%= link_to '<button class= "button">Ask a new question</button>'.html_safe, new_question_path %>
  </p>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">Question</th>
        <th scope="col" class="text-center">Name</th>
        <th scope="col" class="text-center col-md-2">Date submitted</th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
      <tr>
        <td><%= question.question %></td>
        <td class="text-center"><%= question.name %></td>
        <td class="text-center"><%= time_ago_in_words(question.created_at) + " ago" %></td>
        <td><%= link_to '<button class= "button">Edit</button>'.html_safe, edit_question_path(question) %></td>
        <td><%= link_to '<button class= "button">View</button>'.html_safe, question_path(question) %></td>
        <td><%= link_to '<button class= "button">Answer</button>'.html_safe, new_answer_path(question) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>